.navbar {
  background-color: #fafafa;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.navbar-content {
  max-width: 1800px;
  padding: 0rem 3rem;
  margin: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
  
.navbar-logo {
  align-content: flex-start;
  margin: 80rem;
  height: 60px;
  width: 60px;
}
  
.navbar-logo:hover {
  cursor: pointer;
}
  
.navbar-item {
  display: inline;
  margin-right: 2rem;
}
  
.navbar-item:hover {
  cursor: pointer;
}